/* Estilos generales */

* {
    box-sizing: border-box;
    margin:  5;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Estilos específicos */
  
  #contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #primero {
    margin-bottom: 20px;
  }
  
  #primero p {
    color: #369;
  }
  
  #primero a, 
  #segundo a {
    color: #C30;
  }
  
  #primero em {
    color: #0000BB;
    background-color: #FFFFCC;
  }
  
  #segundo p {
    color: #555;
  }
  
  #segundo em.especial {
    color: #FFFF00;
    background-color: #000000;
  }
  
  #segundo span {
    font-weight: bold;
  }